cxx/build
cxx/dist
cxx/*egg-info
*.so
.idea
*.pth
*.obj
*.ply
*.npz
*.json
*.xml
*.zip
data/
*/pretrained/
__pycache__/
snapshot/
*.out
correspondence/cpp_wrappers/cpp_neighbors/build/
correspondence/cpp_wrappers/cpp_subsampling/build/
